.spotify-link {
  color: yellow;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.view-option {
  font-size: 1.2rem;
  color: yellow;
  font-weight: 600;
  cursor: pointer;
}

.card-link {
  color: white;

  &:hover {
    text-decoration: underline;
  }
}
