<h1 class="sr-only">Artist</h1>

<section class="container mt-3" *ngIf="showError">
  <p class="alert alert-danger">An error occurred while getting data.</p>
  <button class="btn btn-light" routerLink="/">Home</button>
</section>

<section
  class="container d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center my-3"
  *ngIf="artistInfo"
>
  <h2 class="page-title">{{ artistInfo.name }}</h2>
  <a class="spotify-link" [href]="artistInfo.external_urls.spotify" target="_blank">View Artist on Spotify</a>
</section>

<section class="container" *ngIf="albums">
  <h3 class="section-title text-secondary">Albums</h3>
  <div class="section-border mt-3 mb-4"></div>
  <div class="row">
    <ng-container *ngFor="let album of albums">
      <div class="col-xs-12 col-sm-6 col-lg-3 mb-3" *ngIf="album.id && album.images[0]?.url">
        <div class="card">
          <a routerLink="/album/{{ album.id }}">
            <img [src]="album.images[0].url" [alt]="album.name" class="card-img-top" />
          </a>
        </div>
        <div class="card-body text-center">
          <h4>
            <a class="card-link" routerLink="/album/{{ album.id }}">{{ album.name }}</a>
          </h4>
          <p>({{ album.release_date | date: "y" }})</p>
        </div>
      </div>
    </ng-container>
  </div>
</section>

<section class="container" *ngIf="topTracks">
  <h3 class="section-title text-secondary">Top Songs</h3>
  <div class="section-border mt-3 mb-4"></div>
  <ul class="list-group mb-5">
    <li
      class="list-group-item d-flex flex-column flex-md-row justify-content-md-between align-items-center bg-dark my-1"
      *ngFor="let track of topTracks"
    >
      {{ track.name }}
      <audio controls *ngIf="track.preview_url">
        <source [src]="track.preview_url" />
      </audio>
    </li>
  </ul>
</section>

<section class="container" *ngIf="relatedArtists">
  <h3 class="section-title text-secondary">Related Artists</h3>
  <div class="section-border mt-3 mb-4"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-3" *ngFor="let artist of relatedArtists">
      <div class="card">
        <a routerLink="/artist/{{ artist.id }}">
          <img [src]="artist.images[0].url" [alt]="artist.name" class="card-img-top" />
        </a>
      </div>
      <h4 class="text-center mt-2">
        <a class="card-link" routerLink="/artist/{{ artist.id }}">{{ artist.name }}</a>
      </h4>
    </div>
  </div>
</section>

<section class="container mt-3 mb-4" *ngIf="artistInfo && topTracks && relatedArtists">
  <button class="btn btn-light back-btn" routerLink="/">
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-arrow-left-circle-fill"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"
      />
    </svg>
    Back
  </button>
</section>
