.card-link {
  color: white;

  &:hover {
    text-decoration: underline;
  }
}

.spotify-link {
  a {
    color: yellow;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
