.content-title {
  font-size: 1.3rem;
  margin: 0;
}

.view-option {
  font-size: 1.2rem;
  color: yellow;
  font-weight: 600;
  cursor: pointer;
  margin: 0;
}

.card-link {
  color: white;

  &:hover {
    text-decoration: underline;
  }
}
