<h1 class="sr-only">Album</h1>

<section class="container mt-3" *ngIf="showError">
  <p class="alert alert-danger">An error occurred while getting album data.</p>
  <button class="btn btn-light" routerLink="/">Home</button>
</section>

<section class="container my-3" *ngIf="album">
  <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center">
    <h2 class="page-title">{{ album.artists[0].name }} - {{ album.name }}</h2>
    <p class="release-date">{{ album.release_date | date: "MMMM d, y" }}</p>
  </div>
  <img class="album-img" [src]="album.images[0].url" />
  <div class="section-border mt-3 mb-4"></div>
  <ul class="list-group">
    <li
      class="list-group-item d-flex flex-column flex-md-row justify-content-md-between align-items-center bg-dark my-1"
      *ngFor="let track of album.tracks.items"
    >
      {{ track.name }}
      <audio controls *ngIf="track.preview_url">
        <source [src]="track.preview_url" />
      </audio>
    </li>
  </ul>
</section>

<section class="container mt-3 mb-4" *ngIf="album">
  <button class="btn btn-light back-btn" routerLink="/artist/{{ album.artists[0].id }}">
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-arrow-left-circle-fill"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"
      />
    </svg>
    Back
  </button>
</section>
