<div *ngIf="errorMsg" class="container mt-3">
  <p class="alert alert-danger">{{ errorMsg }}</p>
  <button routerLink="/" class="btn btn-light">Home</button>
</div>

<div *ngIf="album" class="container mt-3 mb-4">
  <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center">
    <h1 class="page-title">{{ album.artists[0].name }} - {{ album.name }}</h1>
    <a [href]="album.external_urls.spotify" class="spotify-link" target="_blank">View Album on Spotify</a>
  </div>
  <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-end">
    <img [src]="album.images[0].url" class="album-img" />
    <p class="release-date">{{ album.release_date | date: 'MMMM d, y' }}</p>
  </div>
  <button routerLink="/artist/{{ album.artists[0].id }}" class="btn btn-light back-btn mt-3 mb-4">
    <span class="back-arrow">&larr;</span>
    Artist
  </button>
  <div class="section-border mt-3 mb-4"></div>
  <ul class="list-group">
    <li
      *ngFor="let track of album.tracks.items"
      class="list-group-item d-flex flex-column flex-md-row justify-content-md-between align-items-md-center bg-secondary my-1"
    >
      <span class="track-name mr-2">{{ track.name }}</span>
      <audio *ngIf="track.preview_url" [src]="track.preview_url" controls></audio>
    </li>
  </ul>
</div>
