<div *ngIf="errorMsg" class="container my-3">
  <p class="alert alert-danger">{{ errorMsg }}</p>
  <button routerLink="/" class="btn btn-light">Home</button>
</div>

<div
  *ngIf="artistInfo"
  class="container d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center mt-3"
>
  <h1 class="page-title">{{ artistInfo.name }}</h1>
  <a [href]="artistInfo.external_urls.spotify" class="spotify-link" target="_blank">View Artist on Spotify</a>
</div>

<div *ngIf="artistInfo && topTracks && relatedArtists" class="container mt-3 mb-4">
  <button routerLink="/" class="btn btn-light back-btn">
    <span class="back-arrow">&larr;</span>
    Home
  </button>
</div>

<div *ngIf="albums" class="container mt-3">
  <h2 class="section-title text-secondary">Albums</h2>
  <div class="section-border mt-3 mb-4"></div>
  <div class="row">
    <ng-container *ngFor="let album of albums">
      <div *ngIf="album.id && album.images[0]?.url" class="col-sm-6 col-lg-3 mt-2">
        <div class="card">
          <a routerLink="/album/{{ album.id }}">
            <img [src]="album.images[0].url" [alt]="album.name" class="card-img-top" />
          </a>
        </div>
        <div class="p-2 text-center">
          <h3 class="card-title">
            <a routerLink="/album/{{ album.id }}" class="card-link">{{ album.name }}</a>
          </h3>
          <p>({{ album.release_date | date: 'y' }})</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="moreAlbums && showMoreAlbums">
      <ng-container *ngFor="let album of moreAlbums">
        <div *ngIf="album.id && album.images[0]?.url" class="col-sm-6 col-lg-3 mt-2">
          <div class="card">
            <a routerLink="/album/{{ album.id }}">
              <img [src]="album.images[0].url" [alt]="album.name" class="card-img-top" />
            </a>
          </div>
          <div class="p-2 text-center">
            <h3 class="card-title">
              <a routerLink="/album/{{ album.id }}" class="card-link">{{ album.name }}</a>
            </h3>
            <p>({{ album.release_date | date: 'y' }})</p>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <p *ngIf="!showMoreAlbums" class="view-option text-center" (click)="viewMoreAlbums()">Show More</p>
  <p *ngIf="showMoreAlbums" class="view-option text-center" (click)="viewLessAlbums()">Show Less</p>
</div>

<div *ngIf="topTracks" class="container mt-3">
  <h2 class="section-title text-secondary">Top Songs</h2>
  <div class="section-border mt-3 mb-4"></div>
  <ul class="list-group">
    <li
      *ngFor="let track of topTracks"
      class="list-group-item d-flex flex-column flex-md-row justify-content-md-between align-items-md-center bg-dark my-1"
    >
      <span class="track-name">{{ track.name }}</span>
      <a *ngIf="track.preview_url" [href]="track.preview_url" target="_blank">Preview Track</a>
    </li>
  </ul>
</div>

<div *ngIf="relatedArtists" class="container mt-4 mb-3">
  <h2 class="section-title text-secondary">Related Artists</h2>
  <div class="section-border mt-3 mb-4"></div>
  <div class="row">
    <div *ngFor="let artist of relatedArtists" class="col-sm-6 col-lg-3 mt-2 mb-3">
      <div class="card">
        <a routerLink="/artist/{{ artist.id }}">
          <img [src]="artist.images[0].url" [alt]="artist.name" class="card-img-top" />
        </a>
      </div>
      <h3 class="card-title text-center mt-2">
        <a routerLink="/artist/{{ artist.id }}" class="card-link">{{ artist.name }}</a>
      </h3>
    </div>
  </div>
</div>
