@import "bootstrap-scss/bootstrap";

body {
  background-color: black;
  color: white;
}

audio {
  height: 35px;
  margin-top: 8px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.page-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.section-border {
  border-bottom: 1px solid white;
}

.list-group-item {
  font-size: 1.2rem;
  font-weight: 600;
}

.back-btn {
  font-size: 1.2rem;
  width: 100%;

  @media (min-width: 768px) {
    width: 100px;
  }

  .back-arrow {
    position: relative;
    top: 1px;
    font-weight: 600;
  }
}
